.footer {
    margin: 0 70px;
  }
  .slide-controls > .slide-control-icon {
    cursor: pointer;
  }
  
  .footer-content, .slide-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .slide-number {
    background-color: #CD3F97;
    color: white;
    padding: 0 1rem;
  }
  
  