.left-bg-img,
.right-bg-img {
  width: 70px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

}
@media (max-width: 768px) {
  .left-bg-img,.right-bg-img{
    display: none;
  }
}