:root {
    /* Colors */
    --primary-color: #F8D1E0;
    --secondary-color: #FE6784;
    --tertiary-color: #25A3A1;
    --tertiary-color-border: #A4FDFB;
    
  
    /* Fonts */
    --primary-font: 'Arial', sans-serif;
    --secondary-font: 'Roboto', sans-serif;
  
    /* Borders */
    --border-width: 2px;
    --border-style: dashed;
    --border-radius: 4px;
  
  }
  
  body {
    font-family: var(--primary-font);
    color: var(--dark-color);
  }
  p{
    font-size: 18px;
  }
  
  